<header id="header">
  <div id="banner">
    <a href="<%- url_for() %>" id="logo"><img id="logo-img" src="<%- theme.favicon %>"></a>
     <a id="main-nav-toggle" class="nav-icon"></a>
  </div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <h1 id="logo-wrap">
        <a href="<%- url_for() %>" id="logo"></a>
      </h1>
      <% if (theme.subtitle){ %>
        <h2 id="subtitle-wrap"></h2>
      <% } %>
    </div>
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
      </nav>
      <nav id="sub-nav"> </nav>
      <div id="search-form-wrap"></div>
    </div>
  </div>
</header>
